a
{text-decoration: none}
body
{
    height: auto;
    width: 1200px;
    margin: auto;
    background: #fff; 
    background-size: 100%;
    background-image: url(img/background.jpg);
    background-attachment:fixed;
    font-family: 'Exo 2', sans-serif;
}
nav
{
    position: fixed;
    background: #DC143C;
    width: 1200px;
    z-index: 1;
    box-shadow: #000 2px 2px 20px 1px;
}


nav li 
{
    width: 280px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    display: inline-block;
}

nav li:hover
{
   color: #b44d4d;
}

div.main
{
    padding: 40px 40px 40px 40px;
    background: #fff;
    height: auto;
    box-shadow: #000 2px 2px 20px 1px;
}
div.link
{
    display: inline-flex;
    margin-left: 110px;
    margin-right: 140px;
}

#link1
{
    color:#3e62c3;
    font-size: 40px;
    padding-top: 40px;
}

#link2
{
    color: #DC143C;
    font-size: 40px;
    padding-top: 40px;
}

#link3
{
   padding-left: 230px;
}